<div class="country-edit">
  <h1>{{title}}</h1>

  <p *ngIf="this.id && !country"><em>Loading...</em></p>
  <!-- strat of form div -->
  <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- start of name div -->
    <div class="form-group">
      <label for="name">Country name:</label>
      <br />
      <input type="text" id="name" formControlName="name" required placeholder="Country name..." class="form-control" />

      <!-- start of validation errors for name field -->
      <div *ngIf="hasError('name')" class="invalid-feedback">
        <div *ngIf="form.get('name').errors?.required">
          Name is required.
        </div>
        <div *ngIf="form.get('name').errors?.isDupeField">
          Name already exists: please choose another name.
        </div>
      </div>
      <!-- end of validation errors for name field -->
    </div>
    <!-- end of name div -->

    <!-- start of iso2 div -->
    <div class="form-group">
      <label for="iso2">ISO 3166-1 ALPHA-2 Country Code (2 letters)</label>
      <br />
      <input type="text" id="iso2" required placeholder="2 letters country code..." class="form-control" />

      <!-- start of validation errors for iso 2 field -->
      <div *ngIf="hasError('iso2')" class="invalid-feedback">
        <div *ngIf="form.get('iso2').errors?.required">
          ISO 3166-1 APLHA-2 country code is required.
        </div>
        <div *ngIf="form.get('iso2').errors?.pattern">
          ISO 3166-1 ALPHA-2 country code requires 2 letters.
        </div>
        <div *ngIf="form.get('iso2').errors?.isDupeField">
          This ISO 3166-1 ALPHA-2 country code already exist: please choose another.
        </div>
      </div>
      <!-- end of validation errors for iso 2 field -->
    </div>
    <!-- end of iso2 div -->

    <!-- start of iso3 div -->
    <div class="form-group">
      <label for="iso3">ISO 3166-1 ALPHA-3 Country Code (3 letters)</label>
      <br />
      <input type="text" placeholder="3 letters country code..." formControlName="iso3" required class="form-control" />

      <!-- start of validation errors for iso3 field -->
      <div *ngIf="hasError('iso3')" class="invalid-feedback">
        <div *ngIf="form.get('iso3').errors?.required">
          ISO 3166-1 ALPHA-3 country code is required.
        </div>
        <div *ngIf="form.get('iso3').errors?.pattern">
          ISO 3166-1 ALPHA-3 country code requires 3 letters.
        </div>
        <div *ngIf="form.get('iso3').errors?.isDupeField">
          This ISO 3166-1 ALPHA-2 country code already exist: please choose another.
        </div>
      </div>
      <!-- end of validation errors for iso3 field -->
    </div>
    <!-- end of iso3 div -->

    <!-- start of buttons div -->
    <div class="form-group commands">
      <button *ngIf="id" type="submit" (click)="onSubmit()" [disabled]="form.invalid"
        class="btn btn-success">Save</button>
      <button *ngIf="!id" type="submit" (click)="onSubmit()" [disabled]="form.invalid"
        class="btn btn-success">Create</button>
      <button type="submit" [routerLink]="['/countries']" class="btn btn-default">Cancel</button>
    </div>
    <!-- end of button div -->
  </div>
  <!-- end of form div -->
</div>
